<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</head>
<body>
<ul class="nav nav-pills">
            <li class="active"><a href="#">Inicio</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href=""> Area <b class="caret"></b></a>
              <ul id="menu1" class="dropdown-menu">
           <!--       <li><a href="{% url 'principal.views.index_area' %}">mantenimiento</a></li> -->
                <li><a href="#">Otra acción</a></li>
                <li><a href="#">Algo más aquí</a></li>
                <li class="divider"></li>
                <li><a href="#">Enlace separado</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Materias <b class="caret"></b></a>
              <ul id="menu2" class="dropdown-menu">
                <li><a href="#">mantenimiento</a></li>
           <!--      <li><a href="{% url 'principal.views.index_materia' %}">Reporte</a></li>-->
                <li><a href="#">Algo más aquí</a></li>
                <li class="divider"></li>
                <li><a href="#">Enlace separado</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Objetivos <b class="caret"></b></a>
              <ul id="menu3" class="dropdown-menu">
                <li><a href="#">mantemiento</a></li>
                <li><a href="#">Otra acción</a></li>
                <li><a href="#">Algo más aquí</a></li>
                <li class="divider"></li>
                <li><a href="#">Enlace separado</a></li>
              </ul>
            </li>
          </ul>
<b/>
Yeah Django!
<b/>
<br />
let's <a href="/admin">admin </a>

</body>
</html>