{% extends 'modulo12/base.html' %}
{% block titulo %} Estudiante{% endblock %}

{% block content %}
    <form action="." method="POST" role="form">
        <div class="form-group">
            {% csrf_token %}
            <p>ESTUDIENTE: {{ estudiante.apellido }} {{ estudiante.nombre }}</p>
        </div>
    </form>
    <table class="table table-striped span-8">
        <tr>
            {% for f in fases %}
                <th> <a href="/docente/estudiantes/{{ estudiante.ci }}/correccion/fase{{ f.id_fase }}/">{{ f.descripcion_fase }}</a></th>
            {% endfor %}
        <tr>
    </table>
    {% block contenido %}
    {% endblock %}

{% endblock %}

