{% extends 'modulo12/EstudianteDetalle.html' %}
{% block titulo %} {% endblock %}
{% block contenido %}
    <h1>{{ id_f.descripcion_fase }}</h1>
    <h2>LINEAMIENTOS</h2>
    <p class="">{{ lineamiento.lineamientos }}</p>
    <h2>CORRECCIONES</h2>
    <p class="">{{ correccion.correccion }}</p>
    <br/>
    <form action="." method="POST" role="form">
        <div class="form-group">
            {% csrf_token %}
            {{ formulario.as_p }}
            <input type="submit" value="ENVIAR"  class="btn btn-primary"/>
            <a href="/estudiantes/{{ estudiante.ci }}/desarrollo/" class="btn btn-primary">CANCELAR</a>
        </div>
    </form>
{% endblock %}