{% extends 'modulo12/base.html' %}
{% block titulo %} Estudiante{% endblock %}

{% block content %}
        <div class="form-group">
            {% csrf_token %}
            <p>ESTUDIENTE: {{ estudiante.apellido }} {{ estudiante.nombre }}</p>
        </div>

    <table class="table span-8">
        <tr>
            {% for f in fases %}
                <th> <a href="/estudiantes/{{ estudiante.ci }}/desarrollo/fase{{ f.id_fase }}/">{{ f.descripcion_fase }}</a></th>
            {% endfor %}
        <tr>
    </table>
    {% block contenido %}
        {% endblock %}

{% endblock %}