{% extends 'modulo12/EstudianteDetalle.html' %}
{% block contenido %}
    <h1>Definición del Tema</h1>
    <p>{{ fecha }}</p>
    <h4>LINEAMIENTOS</h4>
    <article>{{ id_f.lineamientos }}</article>
    <br/>
    <form action="." method="POST">
            {% csrf_token %}
            {{ formulario.as_p }}
            <input type="submit" value="ENVIAR" class="btn btn-primary"/>
            <a href="/estudiantes/{{ estudiante.ci }}/desarrollo/" class="btn btn-primary">CANCELAR</a>
    </form>
{% endblock %}
